<h2>{{folder}}</h2>
<table>
    <thead>
        <th>Check File</th>
        <th>Name</th>
        <th>Modified</th>
        <th>Members</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr app-file *ngFor='let file of files' [file]='file' (go)="deletefile($event)" (go)="checkfile($event)"></tr>
    </tbody>
</table>

<input type="text" placeholder="Nhập tên" [(ngModel)]="newName" />
<br>
<br>
<input type="text" placeholder="Nhập thành viên" [(ngModel)]="newMember" />
<button (click) = "them()">add</button>