:host {
    display: flex;
    background: gray;
    height: 100vh;
}
app-menu-side-bar {
   min-width: 230px; 
  background:rgba(206, 25, 25, 0);
  
}

app-container {
    flex: 4;
    background: rgb(205, 200, 211); 
    position: relative; 
}